

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.raleway{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    background-color: rgba(159, 156, 247, 0.1);
}

/* shared style */

.btn-primary{
    background-color: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
}

/*--------------------------------------------------- header */
header{
    background-image: url('./Assets/Hero-bg.png');
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.nav-title{
    color: rgba(78, 71, 255, 1);
    font-size: 34px;
    font-weight:bolder;
}
.banner-container{
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    padding-bottom: 152px;
}
.banner-des{
    font-weight: bold;
    font-size: 65px;
    color: #252432;
    max-width: 905px;
    margin: auto;
    margin-bottom: 37px;
    margin-top: 158px;
}
/*----------------------------------------------- main */

.action{
    display: flex;
    justify-content: space-between;
    margin-top: 116px;
    margin-bottom: 116px;
    padding: 0 150px;
    gap: 220px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1)  ;
}
.action-des{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
}
.action img{
    border-radius: 48px;
}

/*---------------------------------------------------- productive */

.productive{
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0 150px;
    border-radius: 24px;
    padding: 30px 120px;
    text-align: center;
}
.productive-title{
    font-size: 38px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.productive-container{
    display: flex;
    justify-content: space-between;
}
.number-title{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-top: 0;
    margin-bottom: 0;
}
.number-des{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}

/*---------------------------------------------------- review */
.review{
    margin: 137px 150px;
    gap: 20px;
}
.review-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

.review-container{
    display: flex;
    margin: 50px 0;
    gap: 20px;
}
.review-card{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 40px rgba(78, 71, 255, 0.1);
    border-radius: 14px;
    padding: 24px;
    padding-right: 40px;
    width: 100%;
}
.reviewer{
    display: flex;
    align-items: center;
    gap: 16px;
}
.reviewer img{
    border-radius: 999px;
}
.reviewer-name{
    color: rgba(90, 90, 90, 1);
    font-weight: bold;
}
.review-date{
    color: rgba(153, 153, 153, 1);
    margin-top: 0;
    margin-bottom: 4px;
}
/*-----------------------------------------get start  */

.get-start{
    margin: 0 150px 92px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 14px;
    padding: 50px;

}
.start-title{
    font-size: 50px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 0;
}
.start-des{
    color: rgba(0, 0, 0, 0.5);
}

.get-start img{
    margin-top: 40px;
    width: 840px;
    height: 364px;
    border-radius: 48px;
}

/*-------------------------------------newsletter  */
.newsletter{
    display: flex;
    margin: 0 150px 92px;
    justify-content: space-between;
}
.newsletter-title{
    font-size: 81px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    margin: 200px 200px 115px 0;
}
.form-info input[type="text"], .form-info input[type="email"]{
    width: 451px;
    height: 64px;
    border: #D6DDED solid 1px;
    border-radius: 10px;
    color: #757575;
    padding: 0 18px;
    font-size: 18px;
    display: block;
    margin-bottom: 24px;
}
textarea{
    width: 451px;
    height: 160px;
    border: #D6DDED solid 1px;
    border-radius: 10px;
    color: #757575;
    padding: 18px 30px;
    font-size: 18px;
    display: block;
    margin-bottom: 34px;
    resize: none;
    font-family: 'Times New Roman', Times, serif;
}